@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🔹 Base Styling */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  @apply text-white;
  background-image: linear-gradient(to top, #141414 0%, rgb(8, 8, 8) 100%);
}

/* 🔹 App Wrapper */
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* 🔹 Main tag layout */
main {
  flex: 1;
  width: 100%;
  padding-bottom: 5rem; /* Leave room for bottom nav */
  box-sizing: border-box;
}

/* 🔹 Hide Scrollbars */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* 🔹 Image Fix */
img {
  max-width: 100%;
  height: auto;
}

/* 🔹 Search Suggestions */
.suggestion-item {
  @apply block px-4 py-2 text-white hover:bg-gray-800 transition;
}
